# Code For HW 5 - Xidan Kou

In [2]:
import pandas as pd
from apriori_python import apriori
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

# Part1: Preprocess Data

In [56]:
basket = pd.read_excel('basket.xlsx')
basket = basket.iloc[:,1:7]
basket.columns = ['A','B','C','D','E','F']
basket.head()

   A  B  C  D  E  F
0  0  0  0  1  1  0
1  0  1  1  0  0  1
2  0  1  0  0  1  0
3  1  1  1  0  0  1
4  1  1  0  1  0  0

In [154]:
list_form=basket.stack().groupby(level=0).apply(list).tolist()

# Part3: Generate Frequent Itemsets

## 2A & 2B

In [155]:
# Calculate the number of Frequent Itemsets for MinSup=2.
frequent_itemsets = apriori(basket, min_support=0.04, use_colnames=True)
print(len(frequent_itemsets))
for value in frequent_itemsets['itemsets']:
    print('{'+','.join(set(value))+'},', end="")

43
{A},{B},{C},{D},{E},{F},{A,B},{A,C},{A,D},{A,E},{A,F},{C,B},{D,B},{B,E},{B,F},{C,D},{C,E},{C,F},{D,E},{D,F},{E,F},{A,C,B},{A,D,B},{A,B,E},{A,B,F},{A,C,D},{A,C,E},{A,C,F},{A,D,F},{A,E,F},{C,B,E},{C,B,F},{D,B,E},{B,E,F},{C,F,D},{C,E,F},{A,C,B,E},{A,C,B,F},{A,B,E,F},{A,C,F,D},{A,C,E,F},{C,B,E,F},{A,E,C,B,F},

## 2C & 2D

In [156]:
# Calculate the number of Frequent Itemsets for MinSup= 3.
frequent_itemsets_3 = apriori(basket, min_support=0.06, use_colnames=True)
print(len(frequent_itemsets_3))
for value in frequent_itemsets_3['itemsets']:
    print('{'+','.join(set(value))+'},', end="")

31
{A},{B},{C},{D},{E},{F},{A,B},{A,C},{A,D},{A,E},{A,F},{C,B},{D,B},{B,E},{B,F},{C,E},{C,F},{D,E},{D,F},{E,F},{A,C,B},{A,D,B},{A,B,E},{A,B,F},{A,C,F},{A,D,F},{C,B,E},{C,B,F},{B,E,F},{C,E,F},{A,C,B,F},

## 2E & 2F

In [60]:
# Calculate the number of Frequent Itemsets for MinSup= 4.
frequent_itemsets = apriori(basket, min_support=0.08, use_colnames=True)
print(len(frequent_itemsets))
for value in frequent_itemsets['itemsets']:
    print('{'+','.join(set(value))+'},', end="")

28
{A},{B},{C},{D},{E},{F},{A,B},{A,C},{A,D},{A,F},{C,B},{D,B},{B,E},{B,F},{C,E},{C,F},{D,E},{D,F},{E,F},{A,C,B},{A,D,B},{A,B,F},{A,C,F},{A,D,F},{C,B,E},{C,B,F},{C,E,F},{A,C,B,F},

## 3A

In [61]:
frequent_itemsets[frequent_itemsets['support'] >= 0.06]

    support      itemsets
0      0.34           (A)
1      0.58           (B)
2      0.48           (C)
3      0.40           (D)
4      0.40           (E)
5      0.42           (F)
6      0.26        (A, B)
7      0.18        (A, C)
8      0.16        (A, D)
9      0.22        (A, F)
10     0.34        (C, B)
11     0.10        (D, B)
12     0.22        (B, E)
13     0.26        (B, F)
14     0.16        (C, E)
15     0.36        (C, F)
16     0.16        (D, E)
17     0.08        (D, F)
18     0.10        (E, F)
19     0.16     (A, C, B)
20     0.08     (A, D, B)
21     0.16     (A, B, F)
22     0.18     (A, C, F)
23     0.08     (A, D, F)
24     0.10     (C, B, E)
25     0.24     (C, B, F)
26     0.08     (C, E, F)
27     0.16  (A, C, B, F)

## 4A & 5A

In [62]:
# Find Maximal Frequency itemseats

su = frequent_itemsets_3.support.unique()#all unique support count
su
#Dictionay storing itemset with same support count key
fredic = {}
for i in range(len(su)):
    inset = list(frequent_itemsets_3.loc[frequent_itemsets_3.support ==su[i]]['itemsets'])
    fredic[su[i]] = inset
#Dictionay storing itemset with  support count <= key
fredic2 = {}
for i in range(len(su)):
    inset2 = list(frequent_itemsets_3.loc[frequent_itemsets_3.support<=su[i]]['itemsets'])
    fredic2[su[i]] = inset2

# Find Closed Frequent itemsets
    cl = []
for index, row in frequent_itemsets_3.iterrows():
    isclose = True
    cli = row['itemsets']
    cls = row['support']
    checkset = fredic[cls]
    for i in checkset:
        if (cli!=i):
            if(frozenset.issubset(cli,i)):
                isclose = False
                break
    
    if(isclose):
        cl.append(row['itemsets'])

print(len(cl))

for value in cl:
    print('{'+','.join(set(value))+'},', end="")

#Find Max Frequent itemsets

ml = []
for index, row in frequent_itemsets_3.iterrows():
    isclose = True
    cli = row['itemsets']
    cls = row['support']
    checkset = fredic2[cls]
    for i in checkset:
        if (cli!=i):
            if(frozenset.issubset(cli,i)):
                isclose = False
                break
    
    if(isclose):
        ml.append(row['itemsets'])


print(len(ml))

for value in ml:
    print('{'+','.join(set(value))+'},', end="")

26
{A},{B},{C},{D},{E},{F},{A,B},{A,D},{A,F},{C,B},{D,B},{B,E},{B,F},{C,E},{C,F},{D,E},{E,F},{A,D,B},{A,B,E},{A,C,F},{A,D,F},{C,B,E},{C,B,F},{B,E,F},{C,E,F},{A,C,B,F},8
{D,E},{A,D,B},{A,B,E},{A,D,F},{C,B,E},{B,E,F},{C,E,F},{A,C,B,F},

## Part 4 Generate Rules

## 1A & 1B

In [63]:
len(association_rules(frequent_itemsets_3,metric="confidence", min_threshold=0))

102

## 3A & 3B

In [132]:
rules = association_rules(frequent_itemsets_3, metric="confidence", min_threshold=0.75)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(A),(B),0.34,0.58,0.26,0.764706,1.318458,0.0628,1.785
1,(C),(F),0.48,0.42,0.36,0.750000,1.785714,0.1584,2.320
2,(F),(C),0.42,0.48,0.36,0.857143,1.785714,0.1584,3.640
3,"(A, C)",(B),0.18,0.58,0.16,0.888889,1.532567,0.0556,3.780
4,"(D, B)",(A),0.10,0.34,0.08,0.800000,2.352941,0.0460,3.300
5,"(A, E)",(B),0.06,0.58,0.06,1.000000,1.724138,0.0252,inf
6,"(A, C)",(F),0.18,0.42,0.18,1.000000,2.380952,0.1044,inf
7,"(A, F)",(C),0.22,0.48,0.18,0.818182,1.704545,0.0744,2.860
8,"(D, F)",(A),0.08,0.34,0.08,1.000000,2.941176,0.0528,inf
9,"(B, F)",(C),0.26,0.48,0.24,0.923077,1.923077,0.1152,6.760
10,"(E, F)",(C),0.10,0.48,0.08,0.800000,1.666667,0.0320,2.600
11,"(A, C, B)",(F),0.16,0.42,0.16,1.000000,2.380952,0.0928,inf
12,"(A, C, F)",(B),0.18,0.58,0.16,0.888889,1.532567,0.0556,3.780
13,"(A, B, F)",(C),0.16,0.48,0.16,1.000000,2.083333,0.0832,inf
14,"(A, C)","(B, F)",0.18,0.26,0.16,0.888889,3.418803,0.1132,6.660

# Part 5: Evaluate Rules

## 1A & 1B

In [152]:
# rules = association_rules(frequent_itemsets_3, metric="lift", min_threshold=1)
lift_above_1 = (rules[rules['lift']>1])
print((lift_above_1))
# printting answer for 1A
#for i in range(69):
    #antecedents = set(lift_above_1.loc[i,'antecedents'])
    #consequents = set(lift_above_1.loc[i,'consequents'])
    #lift = lift_above_1.loc[i,'lift']
    #print('{'+','.join(antecedents)+'}->{'+','.join(consequents)+'}:Lift = ' + '{0:.3g}'.format(lift)+ ', ', end="")

   antecedents consequents  antecedent support  consequent support  support  \
0          (A)         (B)                0.34                0.58     0.26
1          (C)         (F)                0.48                0.42     0.36
2          (F)         (C)                0.42                0.48     0.36
3       (A, C)         (B)                0.18                0.58     0.16
4       (D, B)         (A)                0.10                0.34     0.08
5       (A, E)         (B)                0.06                0.58     0.06
6       (A, C)         (F)                0.18                0.42     0.18
7       (A, F)         (C)                0.22                0.48     0.18
8       (D, F)         (A)                0.08                0.34     0.08
9       (B, F)         (C)                0.26                0.48     0.24
10      (E, F)         (C)                0.10                0.48     0.08
11   (A, C, B)         (F)                0.16                0.42     0.16
12   (A, C, F)         (B)                0.18                0.58     0.16
13   (A, B, F)         (C)                0.16                0.48     0.16
14      (A, C)      (B, F)                0.18                0.26     0.16

    confidence      lift  leverage  conviction
0     0.764706  1.318458    0.0628       1.785
1     0.750000  1.785714    0.1584       2.320
2     0.857143  1.785714    0.1584       3.640
3     0.888889  1.532567    0.0556       3.780
4     0.800000  2.352941    0.0460       3.300
5     1.000000  1.724138    0.0252         inf
6     1.000000  2.380952    0.1044         inf
7     0.818182  1.704545    0.0744       2.860
8     1.000000  2.941176    0.0528         inf
9     0.923077  1.923077    0.1152       6.760
10    0.800000  1.666667    0.0320       2.600
11    1.000000  2.380952    0.0928         inf
12    0.888889  1.532567    0.0556       3.780
13    1.000000  2.083333    0.0832         inf
14    0.888889  3.418803    0.1132       6.660

## 2A & 2B

In [153]:
rules = association_rules(frequent_itemsets_3)
lift_below_1 = (rules[rules['lift']<1])
lift_below_1

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction]
Index: []